<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta property="og:title" content="Steve Baker's Blog!" />
  <meta property="og:description" content="Another Dev blog" />

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.ico" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.documentTitle | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}

  <!-- Redirect to new site -->
  <meta http-equiv="refresh" content="0; URL='https://stebaker.net'"/ >

</head>
