body {
    //background: #f7f7f7;
    //background: #2a86a114;
    background: rgba(249, 249, 251, 1);

    // background: url(../../img/bg-masthead.jpg);
    // background-size: cover;
    
    // Sticky footer
    // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


$nav-height: 64px;

/**
 * Site header
 */
.site-header {
    // border-top: 3px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $nav-height;

    // Positioning context for the mobile navigation icon
    position: relative;
    background: #1d809f!important;
}

.site-title {
    font-size: 22px;
    font-weight: 300;
    line-height: $nav-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        //color: $grey-color-dark;
        
        color: white;
    }
    &:hover{
        color: blue;
    }
}

.site-nav {
    float: right;
    line-height: $nav-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        // color: $text-color;
        
        color: white;
        @include media-query($on-palm) {
            color: $brand-color;
        }

        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    
    background: #F5F5F5;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    // background-color: white;
    
    // Sticky footer
    flex: 1;

    @include media-query($on-palm) {
        padding: 10px;
    }
}

.page-content .wrapper {
    border-radius: 4px;
    padding: 20px 30px;

    border-radius: 4px;
    padding: 20px 30px;
    
    @include media-query($on-palm) {
        padding-right: 0;
        padding-left: 0;
    }
}

.page-heading {
    font-size: 28px;

    
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;

        margin-bottom: 20px;
        border: 1px solid #d4cfcf;
        padding: 12px;
        border-radius: 16px;
        padding-left: 28px;
        padding-top: 16px;
        padding-bottom: 3px;
        background: white;
        border-radius: 4px;
        border: 1px solid #f1f1f1;
    }
}


.post {
    background: white !important;

    border: 1px solid #f1f1f1;
    border-radius: 6px;
    padding: 25px 35px;
}

.post-meta {
    font-size: $small-font-size;
    // font-style: italic;
    font-size: 17px;
    color: $grey-color;
}

.post .post-meta {
    // only show this for posts - not on the post list
    // border-top: 1px dashed #e0e0e0;
    font-size: 20px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;


}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    
    time {
        // float: right;
        
        display: block;
        margin-top: 14px;
        font-size: 15px;
        font-style: italic;

    }
    time::before {
        // content: "\1F550 ";
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-top: 10px;
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
